/*
Now that we've installed Foundation for Emails properly,
let's delete the committed file:
I'll right click and go to "Refactor -> Delete".
Next, because I want to use Sass for our custom email styling,
right click on email.css,
go to "Refactor -> Rename" and call it email.scss.
Because this file will be processed through Encore,
we can import the foundation-email.css file from right here with @import, a ~ -
that tells Webpack to look in the node_modules/ directory -
then foundation-emails/dist/foundation-emails.css.
This feels good!
I'll close up node_modules/... cause it's giant.
 */
@import "~foundation-emails/dist/foundation-emails.css";
/*
Oh, but before we try this,
back in tutorial/, that inky/ directory also holds an email.css file.
Now that we're using a CSS framework,
some of the code in our original email.css just isn't needed anymore!
This new email.css is basically the same as the original one
but with some extra stuff removed.
Copy the code from the file,
and paste it over the one in assets/css.
*/
body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    font-family: Helvetica, Arial, sans-serif;
}
h1 {
    background-color: #264459;
    color: #ffffff;
    /*padding: 30px 0 50px 0;*/
    font-weight: normal;
}
hr {
    border: none;
    border-top: 3px solid #264459;
    margin: 20px;
}
.welcome {
    background-color: #264459;
}
.bottom {
    background-color: #efefee;
}
.logo {
    width: 100%;
}
.text-center {
    text-align: center;
}
table.button a {
    background-color: #264459;
}
table.button table td {
    background-color: #264459;
    border: 2px solid #264459;
}
